@keyframes animação {
    0% {margin-left: 0;}
    20% {margin-left: 0;}
    25% {margin-left: -100%;}
    45% {margin-left: -100%;}
    50% {margin-left: -202%;}
    70% {margin-left: -202%;}  
    75% {margin-left: 0;}               
    100% {margin-left: 0;}
}