* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Source Sans Pro", sans-serif;
}

body {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    display: block;
    margin-top: 5px;
}

.logo-tecmundo {
    width: 140px;
    height: auto;
}

.logo-tecme {
    margin-top: 10px;
    width: 95px;
    height: 20px;
    padding-left: 10px;
}

.campo-de-pesquisa {
    width: 600px;
    border-radius: 4px;
    padding-left: 48px;
    box-shadow: 0 0 0 0 rgb(255 255 255 / 0%);
    font-size: 16px;
    color: #575757;
    user-select: none;
    background-color: #fafcfd;
    ;
    height: 40px;
    border: 1px solid rgba(219, 225, 229, 0.25);
}

.campo-de-pesquisa:focus {
    outline: 0;
    box-shadow: 0 0 0 3px rgb(52 144 220 / 50%);
    border-color: #1087ff;
    transition: 0.2s;
    border-radius: 4px;
    outline-offset: -2px;
}

.search {
    position: absolute;
    height: auto;
    width: 23px;
    margin: 9px;
    cursor: text;
}


.header-container {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    line-height: 25px;
}

.nav-container {
    display: block;
}

.nav-menu {
    display: flex;
    border-top: 1px solid #f6f8fa;
    justify-content: space-around;
    padding: 10px;
    list-style: none;
}

ul {
    list-style: none;
}

li:hover {
    color: #1087ff;
    cursor: pointer;
}

.item-lista {
    display: block;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

.item-lista:hover {
    color: #1087ff;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

.dropdown-lista {
    background: #fff;
    border-radius: 4px;
    white-space: nowrap;
}

.dropdown-item:hover {
    color: #636f7a;
    text-decoration: none;
    background: #f1f5f8;
    display: block;
    padding: 12px 16px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-item {
    color: #636f7a;
    background: #fff;
    font-size: 16px;
    display: block;
    padding: 12px 16px;
}


a {
    cursor: pointer;
    text-decoration: none;
    color: black;
    background-color: transparent;
}

a:hover {
    color: #1087ff;
}

.img-wifi {
    width: 16px;
    height: 24px;
    position: relative;
    top: 6px;
    right: 6px;
    stroke: currentColor;
}

.teste-velocidade {
    margin-left: auto;
}

main {
    margin: 0 auto;
    padding: 16px;
}

.img-principal {
    border-radius: 8px;
    max-width: 100%;
}

.subtitulo-img-principal {
    color: #1087ff;
    font-size: 18px;
    letter-spacing: -0.02em;
    line-height: 20px;
    padding: 10px;
    cursor: default;
}

.titulo-img-principal {
    color: #030303;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: -0.02em;
    line-height: 38px;
    padding: 10px 10px 10px 0;
}

.img-lateral {
    border-radius: 8px;
    max-width: 100%;
}



.item-carousel-template-1 {
    display: flex;
    align-items: center;
    margin-bottom: 9px;
}

.item-carousel-template-2 {
    display: flex;
    align-items: center;
    margin-bottom: 9px;
}

.item-carousel-template-3 {
    display: flex;
    align-items: center;
}

.info-carousel-template {
    flex: 1;
    margin-left: 24px;
}

.subtitulo-img-carousel-template {
    color: #1087ff;
    font-size: 18px;
    letter-spacing: -0.02em;
    line-height: 20px;
    margin-bottom: 9px;
}

.titulo-carousel-template {
    color: #030303;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -0.01em;
}

.carousel-pagination {
    align-items: center;
    display: flex;
    padding-top: 20px;
    justify-content: flex-end;
    margin-right: 40px;

}

.swiper-pagination {
    cursor: pointer;
    display: flex;
    font-size: 14px;
    font-weight: 700;
    height: 40px;
    line-height: 12px;
}

.swiper-button-next {
    width: 40px;
}

.swiper-button-prev {
    width: 40px;
}


main {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container-carrossel {
    display: flex;
    width: 300%;
    animation-name: animação;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    border-bottom: 1px solid rgba(219,225,229,0.5);
}

.banners {
    display: flex;
    width: 33.333%;
    padding-right: 30px;
}

.banner-principal {
    flex: 1 1 60%;
    max-width: 59%;
    margin-right: 24px;
}

.banners-lateral {
    display: block;
    flex: 1 1 40%;
    max-width: 40%;
}

.pl {
    padding-left: 20px;
}

.sub-container {
    margin-top: 40px;
    display: flex;
}

.top-home-container {
    display:block;
    width: 880px;
}
.top-home {
    display: flex;
    margin-bottom: 16px;
    width: 100%;
}

.titulo-top-home {
    padding-top: 16px;
}

.buttons-top-home-nav {
    display: flex;
    margin-left: auto;
    padding: 10px;
}

.button-top-home {
    background: none;
    font-size: 16px;
    border: 0;
    border-radius: 4px;
    color: #8995a0;
    font-weight: 600;
    line-height: 24px;
    padding: 4px 16px;
    text-decoration: none;
    transition: all 0.2s;
}

.button-top-home:hover {
    color: #636f7a;
}

.button-top-home:focus {
    box-shadow: 0 0 0 3px rgb(52 144 220 / 50%);
    outline: 0;
    background-color: #f1f5f8;
    color: #3e4851;
}

.conteudo-top-home {
    width: 100%;
    margin-right: 24px;
    box-sizing: border-box;
}

.container-item-top-home {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.item-top-home {
    display:flex;
    flex: 50%;
    margin-bottom: 15px;
}

.img-article {
    margin: 0 24px 0 0;
}

.image-top-home {
    border-radius: 6px;
}

.info-img-top-home {
    width: 220px;
    height: 90px;
    padding-top: 10px;
    margin-left: 5px;
}

.titulo-img-top-home {
    flex: 1;
    min-width: 0;
}

h3 {
    color: #444;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.01em;
    line-height: 22px;
    margin-bottom: 4px;
}

.subtitulo-img-top-home {
    color: #8995a0;
    font-size: 16px;
}

@media (max-width: 768px) {
    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
    } 
    .container-carrossel {
        display: flex;
        justify-content: space-between;
    }
    header {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .header-container {
        width: 100%;

    }
    
    .logo-tecmundo {
        display: flex;
        justify-content: center;
        width: 135px;
    }
    .campo-de-pesquisa {
        width: 100%;
    }

    .campo-de-pesquisa::placeholder {
        font-size: 12px;
    }

    .logo-tecme {
        display: none;
    }

    .nav-container {
        display: flex;
        width: 100%;
    }
    
    .nav-menu {
        justify-content: unset;
        width: 950px;
    }
    
    .lista-menu {
        overflow: scroll;
    }
    
    .item-lista {
        font-size: 12px;
        font-weight: 400;
    }

    .teste {
        display: flex;
        width: 100%;
    }
    .banners {

    }

    .banner-principal {
        display: flex;
        align-self: flex-start;
        flex-direction: column;
    }

    .banners-lateral {
        display: flex;
        flex-direction: column;
        align-self: flex-start;
    }

    .img-principal {
        width: 90%;
    }
    .titulo-img-principal {
        font-size: 20px;
    }

    .titulo-carousel-template{
        font-size: 14px;
    }

    .item-carousel-template-1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 9px;
    }
    .item-carousel-template-2 {
        display: flex;
        flex-direction: column;
        margin-bottom: 9px;
    }
    .item-carousel-template-3 {
        display: flex;
        flex-direction: column;
    }
    .top-home-container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .top-home {
        display: flex;
        width: 100%;
    }
    .titulo-top-home {
        width: 150px;
        font-size: 18px;
    }
    .conteudo-top-home {
        width: 100%;
    }
    .item-top-home {
        width: 100%;
    }
    .info-img-top-home {
        width: 100%;
    }
    
    h3 {
        font-size: 12px;
    }
}